body
  font-size: 12pt

.accompanying-letter
  margin-bottom: 40px
  header
    .company
    .charge
      margin: 0
    .personal-data
      list-style: none
      font-size: 10pt
      margin: 0 0 0 70%
      padding: 0
      li
        min-width: 0
  section
    margin-top: 50pt
    margin-right: 10%
    margin-left: 10%
    h1
      text-align: center
      font-size: 16pt
      font-weight: normal
    .sincerely-yours
      text-align: right
  footer
    margin-top: 40pt
    margin-right: 10%
    margin-left: 10%
    h1
      text-align: center
      font-size: 16pt
      font-weight: normal
      text-align: center
    ul
      margin: 10pt 0 10pt 40%
    .end
      text-align: right

.decision-acceptance
  page-break-before: always
  header
    display: -webkit-box
    box-orient: horizontal
    .title
      -webkit-box-flex: 1
    .date
      -webkit-box-flex: 1
      text-align: right
  section
    margin-top: 80pt
    margin-right: 10%
    margin-left: 10%
    h1
      text-align: center
      font-size: 16pt
      font-weight: normal
      text-align: center
    p
      margin-top: 60pt
    table
      margin-top: 60pt
      margin-left: auto
      width: 70%
      table-layout: fixed
      border-collapse: collapse
      tr
        td
          padding: 30pt 0 5pt
          border-bottom: 1px solid #000
          vertical-align: bottom
        td.seal
          padding: 0 15pt 10pt 0
          text-align: right
          color: #ccc


