body
  font-size: 14pt

table
  width: 100%
  border: 2px solid #000
  border-collapse: collapse
  td, th
    border: 1px solid #000

dl
  margin: 10px 0
  dt
    display: inline-block
    vertical-align: top
    width: 120px
    padding-left: 10px
  dd
    display: inline-block
    margin-left: 10px

header
  display: -webkit-box
  width: 80%
  h1
    -webkit-box-flex: 1.0
    margin: 0 0 0 10px
  .date
    -webkit-box-flex: 2.0
    margin: 0 10px 0 0
    padding-top: 3%
    text-align: right

.personal
  display: -webkit-box
  table
    -webkit-box-flex: 1.0
    width: 80%
    .name
      dd
        font-size: 26px
    .birthday
    .sex
      text-align: right
      padding: 10px 10px
  .photo
    -webkit-box-flex: 1.0
    width: 16%
    margin: -1% 0 0 4%

.home
  margin-top: 20px

.history
.license
  table-layout: fixed
  th.year
    width: 8%
    padding: 10px 0
  th.month
    width: 5%
  td.year
    padding: 8px 1% 8px 0
    text-align: right
  td.month
    text-align: right
    padding-right: 1%
  td.name
    text-align: center
  td.detail
    padding-left: 1%

.history
  margin-top: 40px
  margin-bottom: 40px

.license
  page-break-before: always

.pr
.request
.company
  margin-top: 40px

.pr
.request
.company .reasons
  min-height: 150pt
  height: 150pt
  border: 2px solid #000
  vertical-align: top
  h1
    margin: 10px 0 0 10px
    font-size: 14pt
    font-weight: normal
  ul
    margin: 10px 0
    list-style-type: none

